<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548875410267-0h3h6d3jhhv41crebe48288q813mogdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548875410267-0h3h6d3jhhv41crebe48288q813mogdo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>548875410267-drr7qodgo20lh69fmtf5r3ljeprctd7s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtHcAGyg4VVVPGyscReww1Sp4aqbTbw0c</string>
	<key>GCM_SENDER_ID</key>
	<string>548875410267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradeDiary</string>
	<key>PROJECT_ID</key>
	<string>potato-4-cut</string>
	<key>STORAGE_BUCKET</key>
	<string>potato-4-cut.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548875410267:ios:07275e1bae3038f3d4987e</string>
</dict>
</plist>